body{
    //margin: 0px;
    //padding: 0px;
    box-sizing: border-box;
    //background-image: url(image.jpg);
    //color: white;
    //background-color: black;
    font-family: poppin, 'Times New Roman', Times, serif;
    font-size: large;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    //background-color: white;
    /*text-align: center;
    justify-content: center;
    align-items: center;
    width: 440px;*/
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
}

h1{
    font-weight: 700;
}