body{
    margin: 0px;
    padding: 100px;
    box-sizing: border-box;
    background-image: url(image.jpg);
    font-family: poppin, 'Times New Roman', Times, serif;
    font-size: large;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 440px;
    color: white;
    font-size: 20px;
}

h1{
    font-weight: 700;
    margin-top: 150px;
}

input{
    width: 250px;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.output{
    width: 440px;
    margin: auto;
    font-size: 20px;
}

.alert{
    width: 270px;
    margin: auto;
}